
/%h1 Welcome to RadRoomies
/ Container (IOS)
#box1
  #create.container.text-right
    %h2.aboutcreate CREATE.
    .createbio
      %p By using the latest technologies such as Swift and Objective-C we can  bring your ideas to life.
    %button.button.button4= link_to 'login', new_user_session_path

    .padding
/ Container (WEB)
#box2
  #about.container.text-right
    %h2.aboutmatch MATCH.
    .matchbio
      %p By using the latest technologies such as Swift and Objective-C we can  bring your ideas to life.
    %button.button.button5 More+
/ Container (Security)
#box3
  #ios.container.text-right
    %h2.aboutlive LIVE.
    .secbio
      %p We not only provide amazing web services and app development we provide security for your companies as was.
    %button.button.button5 More+

    %footer.text-center
  %a.up-arrow{"data-toggle" => "tooltip", :href => "#myPage", :title => "TO TOP"}
    %span.glyphicon.glyphicon-chevron-up
  %br/
  %br/
  %p Made By REAPER

/%p Find me in app/views/home/index.html.haml
