%h1 All Roomate Matches

%table.table.table-hover
  %thead
    %tr
      %th User
      %th

  %tbody
    - @matches.each do |match|
      %tr
        - if Profile.pet_section(@profile,match) || Profile.noise_section(@profile,match) || Profile.clean_section(@profile,match) || Profile.fun_section(@profile,match) || Profile.study_section(@profile,match)
          - u = User.find(match.user_id) # Extremely bad!!! Never do this, but o.k for project
          %td= u.full_name
          %td= match.pet_type unless match.pet_type.nil?
          %td= link_to 'Show', user_path(u)
