/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'bootstrap/theme';

 .profile{
   color:red;
 }

 label{
   color:#4d4dff;
 }
 .glyphicon {  margin-bottom: 10px;margin-right: 10px;}

 small {
 display: block;
 line-height: 1.428571429;
 color: #999;
 }
 
body,
html {
  font: 400 15px/1.8 Lato, sans-serif;
  color: #777;
  margin: 0;
  padding: 0;
}
h3,
h4 {
  margin: 10px 0 30px 0;
  letter-spacing: 10px;
  font-size: 20px;
  color: #111;
}
.btn {
        padding: 10px 20px;
        background-color: #333;
        color: #f1f1f1;
        border-radius: 0;
        transition: .2s;
      }
  .btn:hover, .btn:focus {
        border: 1px solid #333;
        background-color: #fff;
        color: #000;
        }

.nav-tabs li a {
    color: #777;
}

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: white;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand {
    color: black !important;
}
.navbar-nav li a:hover {
    color: gray !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.dropdown-menu li a {
    color: #000 !important;
}
.dropdown-menu li a:hover {
    background-color: red !important;
}

#match{
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
#match{
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
#live{
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
.aboutcreate{
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    color: black;

}
.aboutlive{
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    color: black;

}
.createbio{
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 35px;
}
.aboutmatch{
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    color: black;
}
.matchbio{
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    color: black;
    font-size: 35px;
}
.new_user{
  border: 3px solid lightblue;
  background: lightblue;
  position: absolute;
  z-index: 10;
  padding-bottom: 25px;
  top: 150px;
  left: 50%;
  margin-left: -170px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6)
}
