/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'bootstrap/theme';

body,
html {
  width: 100%;
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  text-align: center;
}

.navbar{

  ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #333;
    list-style-type: none;
  }

  li{
    display: block;
  }

  li{
    color:red;
    display: block;
    padding: 14px 16px;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    text-decoration: none;
    text-align: center;
  }

  li:hover{
    background-color: #4CAF50;
  }

}

.new_user{
  border: 3px solid lightblue;
  background: lightblue;
  position: absolute;
  z-index: 10;
  padding-bottom: 25px;
  top: 150px;
  left: 50%;
  margin-left: -170px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6)
}
